<div class="text-center higher-logo-margin">
    <%= image_tag("higher-black.png", size: "207x80", data: { title: 'Higher Logo' }) %>
</div>

<div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="form-wrapper">
          <h2>Sign up, <%= resource_name %> !</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
              <%= f.input :password_confirmation, required: true %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Sign up" %>
            </div>
          <% end %>

          <%= render "candidates/shared/links" %>
        </div>
      </div>
    </div>
</div>
