<!-- Modal: Edit a Job Offer -->
<div id="EditJobOfferModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit an offer</h4>
      </div>
      <div class="modal-body">
      <p>something</p>
        <%= simple_form_for([ job_offer ]) do |form| %>
          <%= form.input :title %>
          <%= form.input :description, input_html: { id: 'job_offer_description_field' } %>
          <%= form.input :location %>
          <%= form.input :min_xp %>
          <%= form.input :max_xp %>
          <%= form.input :salary %>
          <%= form.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
