<!-- 1. JOB OFFER -->
<div class="black-background tab-content" id="job-offer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="cv-wrapper"> <!-- div englobbante  -->
          <% if  @job_offer %>
            <h4 class="text-center"><%= @job_offer.title + " @ " + @job_offer.recruiter.organization.name %></h4>
            <div class="job-offer-icons-div">
              <ul class="list-inline product-controls hidden-sm hidden-xs text-center">
                <li><i class="fa fa-globe"></i> <%= @job_offer.location %></li>
                <li><i class="fa fa-file-text"></i> <%= @job_offer.min_xp.to_i.to_s + "y - " + @job_offer.max_xp.to_i.to_s + "y" %></li>
                <li><i class="fa fa-money"></i> <%= @job_offer.salary.to_s + "K€" %></li>
              </ul>
            </div>
            <p><%= simple_format @job_offer.description %></p>
          <% else %>
            <p>Sorry mate. This job offer does not have a description..</p>
          <% end %>
        </div> <!-- fin div englobbante  -->
      </div>
    </div>
  </div>
</div> <!-- fin couleur de fond black -->


<!-- 2. RESUME -->
<div class="gray-background tab-content" id="resume"> <!-- couleur de fond grise -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">


        <div class="cv-wrapper"> <!-- div englobbante  -->

          <!-- Show Don't by shy when empty -->

          <% if @job_application.experiences.any? || @job_application.educations.any? || @job_application.languages.any? %>
          <% else %>
            <h2 id="title-shy-margin" >Don't be shy !</h2>
          <% end %>

          <!-- EXPERIENCES  -->
          <% if @experiences_sorted.empty? %>
          <% else %>
            <div class="cv-separator"></div>
            <h3><i class="fa fa-file-text padding-3px" aria-hidden="true"></i> EXPERIENCES <a href="" data-toggle="modal" data-target="#AddExperienceModal" id="links-modal-resume"><i class="fa fa-plus-circle add-btn" aria-hidden="true"></i></a></h3>
               <!-- button de modal: Add XP -->


              <div class="margin-left">
                <% @experiences_sorted.each do |experience| %>
                  <div class="cv-tab">
                    <h4 class="inline"><%= experience.title + " @ " + experience.organization %></h4>
                    <a href="" data-toggle="modal" data-target="#EditExperienceModal" class="inline margin-left-20px no-decoration">Edit /</a>  <!-- button de modal: Edit XP -->
                     <%= link_to experience_path(experience), method: :delete do %>
                      <i class="fa fa-times" aria-hidden="true"></i>
                    <% end %>

                    <!-- experience dates -->
                    <% months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %>
                    <p class="color-mid-gray margin-top-1px"><%= months[experience.start_date.month - 1] + " " + experience.start_date.year.to_s + " - " + months[experience.end_date.month - 1] + " " + experience.end_date.year.to_s + " (" %>
                      <!-- years xp calculation -->
                      <% if (((experience.end_date - experience.start_date)/30.5).to_i/12) >= 2 %>
                        <%= (((experience.end_date - experience.start_date)/30.5).to_i/12).to_s + " years" %>
                      <% elsif (((experience.end_date - experience.start_date)/30.5).to_i/12) > 0 %>
                        <%= (((experience.end_date - experience.start_date)/30.5).to_i/12).to_s + " year" %>
                      <% end %>
                      <!-- month xp calculation -->
                      <% if (((experience.end_date - experience.start_date)/30.5).to_i%12) >= 2 %>
                        <%= (((experience.end_date - experience.start_date)/30.5).to_i%12).to_s + " months" %>
                      <% elsif (((experience.end_date - experience.start_date)/30.5).to_i%12) > 0 %>
                        <%= (((experience.end_date - experience.start_date)/30.5).to_i%12).to_s + " month" %>
                      <% end %>
                      <%= experience.location ? ") | #{experience.location}" : ")" %>
                    </p>
                    <p class="tab-description"><%= experience.description %></p>

                    <!-- modal Edit Experience -->
                    <div class="modal fade" id="EditExperience<%=experience.id%>Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Edit Experience</h4>
                          </div>
                          <div class="modal-body">
                            <%= simple_form_for(experience) do |field| %>
                                <%= field.input :title %>
                                <%= field.input :organization %>
                                <%= field.input :start_date, discard_day: true, start_year: 2000, end_year: Date.today.year , order: [:month, :year] %>
                                <%= field.input :end_date, discard_day: true, start_year: 2000, end_year: Date.today.year , order: [:month, :year] %>
                                <%= field.input :present %>
                                <%= field.input :description %>
                                <%#=  field.input :company_size %>
                                <%#= field.input :industry %>
                                <%= field.input :job_application_id, as: :hidden, input_html: {value: @job_application.id} %>
                                <%= field.button :submit %>
                              <% end %>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                <% end %>
              </div>
          <% end %>

          <% if @job_application.experiences.empty? %>
            <div id="inline-link-resume">
              <i class="fa fa-file-text" aria-hidden="true"> </i> <a href="" data-toggle="modal" data-target="#AddExperience<%=experience.id%>Modal" id="links-modal-resume"><strong>Add</strong> a first Experience</a>
            </div>
              <!-- button de modal: Add XP -->
          <% else %>
          <% end %>

          <!-- modal Add Experience -->
          <div class="modal fade" id="AddExperienceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Add Experience</h4>
                </div>
                <div class="modal-body">
                  <%= simple_form_for(@experience) do |field| %>
                      <%= field.input :title %>
                      <%= field.input :organization %>
                      <%= field.input :start_date, discard_day: true, start_year: 2000, end_year: Date.today.year, order: [:month, :year] %>
                      <%= field.input :end_date, discard_day: true, start_year: 2000, end_year: Date.today.year, order: [:month, :year] %>
                      <%= field.input :present %>
                      <%= field.input :description %>
                      <%#= field.input :company_size %>
                      <%#= field.input :industry %>
                      <%= field.input :job_application_id, as: :hidden, input_html: {value: @job_application.id} %>
                      <%= field.button :submit %>
                    <% end %>
                </div>
              </div>
            </div>
          </div> <!-- fin de experiences -->

          <!-- EDUCATIONS -->
          <% if @educations_sorted.empty? %>
          <% else %>
            <div class="cv-separator"></div>
            <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i> EDUCATION <a href="" data-toggle="modal" data-target="#AddEducationModal" id="links-modal-resume"><i class="fa fa-plus-circle add-btn" aria-hidden="true"></i></a></h3>
              <div class="margin-left">
                <% @educations_sorted.each do |education| %>
                  <div class="cv-tab">
                    <h4 class="inline"><%= education.degree_type + ' ' + education.degree_field + ' @ ' + education.organization %></h4>
                    <a href="" class="margin-left-20px" data-toggle="modal" data-target="#EditEducation<%=education.id%>Modal" id="links-modal-resume">Edit /</a>   <!-- button de modal: Edit Education -->
                    <%= link_to education_path(education), method: :delete do %>
                      <i class="fa fa-times" aria-hidden="true"></i>
                    <% end %>
                    <p class="color-mid-gray margin-top-1px"><%= education.start_date.year.to_s + " - " + education.end_date.year.to_s %></p>
                    <p class="tab-description"><%= education.description %></p>

                    <!-- modal Edit Education -->
                    <div class="modal fade" id="EditEducation<%=education.id%>Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Edit Experience</h4>
                          </div>
                          <div class="modal-body">
                            <%= simple_form_for(education) do |field| %>
                              <%= field.input :degree_type, collection: ["High School Diploma", "Bachelor", "Master", "PhD & equivalent", "Executive Education", "Summer School", "Exchange", "Other"] %>
                              <%= field.input :degree_field %>
                              <%= field.input :organization %>
                              <%= field.input :start_date, start_year: 2000, end_year: Date.today.year , discard_day: true, discard_month: true %>
                              <%= field.input :end_date, start_year: 2000, end_year: Date.today.year , discard_day: true, discard_month: true %>
                              <%= field.input :description %>
                              <%= field.input :job_application_id, as: :hidden, input_html: {value: @job_application.id} %>
                              <%= field.button :submit %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>  <!-- end of modal -->

                  </div>
                <% end %>
              </div>
          <% end %>

          <% if @job_application.educations.empty? %>
            <div id="inline-link-resume">
              <i class="fa fa-graduation-cap" aria-hidden="true"> </i> <a href="" data-toggle="modal" data-target="#AddEducationModal" id="links-modal-resume"><strong>Add</strong> a first Education</a>
            </div>
            <!-- button de modal: Add Education -->
          <% else %>
          <% end %>

          <!-- modal Add Education-->
          <div class="modal fade" id="AddEducationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Add Education</h4>
                </div>
                <div class="modal-body">
                  <%= simple_form_for(@education) do |field| %>
                    <%= field.input :degree_type, collection: ["High School Diploma", "Bachelor", "Master", "PhD & equivalent", "Executive Education", "Summer School", "Exchange", "Other"] %>
                    <%= field.input :degree_field, label: "Degree name", placeholder: "Bachelor in Civil Engineering..." %>
                    <%= field.input :organization %>
                    <%= field.input :start_date, discard_day: true, discard_month: true, start_year: 2000, end_year: Date.today.year %>
                    <%= field.input :end_date, discard_day: true, discard_month: true, start_year: 2000, end_year: Date.today.year %>
                    <%= field.input :description %>
                    <%= field.input :job_application_id, as: :hidden, input_html: {value: @job_application.id} %>
                    <%= field.button :submit %>
                  <% end %>
                </div>
              </div>
            </div>
          </div> <!-- fin de educations -->

          <!-- LANGUAGES -->
          <% if @languages.empty? %>
          <% else %>
            <div class="cv-separator"></div>
            <div class="">
              <h3><i class="fa fa-globe" aria-hidden="true"></i> LANGUAGES <a href="" data-toggle="modal" data-target="#AddLanguageModal" id="links-modal-resume"><i class="fa fa-plus-circle add-btn" aria-hidden="true"></i></a></h3>

                <div class="row language-blocks">
                  <% @languages.each do |language| %>

                    <div class="col-xs-6">
                      <h4 class="inline"><%= language.name %></h4>
                      <p class="inline">
                        <a href="" class="margin-left-20px" data-toggle="modal" data-target="#EditLanguage<%=language.id%>Modal">Edit /</a> <!-- button de modal: Edit Education -->
                          <%= link_to language_path(language), method: :delete do %>
                            <i class="fa fa-times" aria-hidden="true"></i>
                          <% end %>
                      </p>
                      <p class="small-text margin-bottom-20px"><%= language.proficiency %></p>


                      <!-- modal Edit Education -->
                      <div class="modal fade" id="EditLanguage<%=language.id%>Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">Edit Language</h4>
                            </div>
                            <div class="modal-body">
                              <%= simple_form_for(language) do |field| %>
                                <%= field.input :name %>
                                <%= field.input :proficiency, collection: ["Elementary proficiency", "Limited working proficieny", "Professional working proficiency", "Full professional proficiency", "Native or bilingual proficiency"] %>
                                <%= field.input :job_application_id, as: :hidden, input_html: {value: @job_application.id} %>
                                <%= field.button :submit %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  <% end %>
                </div>
              </div>

          <% end %>

            <% if @job_application.languages.empty? %>
            <div id="inline-link-resume">
              <i class="fa fa-globe" aria-hidden="true"> </i>  <a href="" data-toggle="modal" data-target="#AddLanguageModal"><strong>Add</strong> a first Language</a><!-- button de modal: Add Language -->
            </div>
            <% else %>
            <% end %>
          <div class="modal fade" id="AddLanguageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"> <!-- modal Add Language -->
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Add Language</h4>
                </div>
                <div class="modal-body">
                  <%= simple_form_for(@language) do |field| %>
                    <%= field.input :name %>
                    <%= field.input :proficiency, collection: ["Elementary proficiency", "Limited working proficieny", "Professional working proficiency", "Full professional proficiency", "Native or bilingual proficiency"] %>
                    <%= field.input :job_application_id, as: :hidden, input_html: {value: @job_application.id} %>
                    <%= field.button :submit %>
                  <% end %>
                </div>
              </div>
            </div>
          </div> <!-- fin languages -->

        </div> <!-- fin div englobbante du cv  -->
      </div> <!-- col de bootstrap -->
    </div> <!-- row de bootstrap -->
  </div> <!-- container de bootstrap -->
</div> <!-- fin couleur de fond grise -->


<!-- 3. MOTIVATION LETTER -->
<div class="gray-background tab-content" id="cover-letter">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="cv-wrapper"> <!-- div englobbante -->
          <%= simple_form_for([@job_offer, @job_application]) do |field| %>
            <%= field.input :motivation_letter, input_html: { id: 'motivation_letter_field', placeholder: @sample_letter } %>
            <%= field.button :submit, "Save", class: "btn btn-primary" %>
          <% end %>
        </div> <!-- fin div englobbante  -->
      </div>
    </div>
  </div>
</div> <!-- fin couleur de fond grise -->


<!-- ++ VIEW AS EMPLOYER MODAL -->
<div class="modal fade" id="ViewAsEmployerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close top-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">

        <div class="titles-resume">
          <h6 id="resume-style" >Your resume for : </h6> <h6 class="text-center" id="underline-title" ><%= @job_offer.title + " @ " + @job_offer.recruiter.organization.name %></h6>
        </div>

        <!-- <div id="top-border-under-title"></div> -->

        <!-- experience  -->
        <% if @experiences_sorted.empty? %>
        <% else %>
          <div class="">
            <h5><i class="fa fa-file-text" aria-hidden="true"></i> EXPERIENCES</h5>
            <% @experiences_sorted.each do |experience| %>
              <div class="">
                <h6 class=""><%= experience.title + " @ " + experience.organization %></h6>
                <p class=" small-text"><span class="color-mid-gray"><%= experience.start_date.month.to_s + "/" + experience.start_date.year.to_s + " - " + experience.end_date.month.to_s + "/" + experience.end_date.year.to_s %></span><span id="chevron"> >></span>
                <% if (((experience.end_date - experience.start_date)/30.5).to_i/12) != 0 %>
                  <%=  (((experience.end_date - experience.start_date)/30.5).to_i/12).to_s + " year(s) " %>
                <% end %>
                <% if (((experience.end_date - experience.start_date)/30.5).to_i%12) != 0 %>
                  <%= (((experience.end_date - experience.start_date)/30.5).to_i%12).to_s + " month(s)" %><p>
                <% end %>
                <p class="small-text"><%= experience.description %></p>
              </div>
            <% end %>
          </div>
        <% end %> <!-- fin de experiences -->

        <!-- education -->
        <% if @educations_sorted.empty? %>
        <% else %>
          <div class="">
            <h5><i class="fa fa-graduation-cap" aria-hidden="true"></i> EDUCATION</h5>
            <% @educations_sorted.each do |education| %>
              <div class="">
                <h6 class=""><%= education.degree_type + ' ' + education.degree_field + ' @ ' + education.organization %></h6>

                <p class="small-text"><span class="color-mid-gray"><%= education.start_date.year.to_s + " - " + education.end_date.year.to_s %></span><span id="chevron"> >> </span> <%= ([(education.end_date.year - education.start_date.year), 1].max ).to_s + " year(s)" %><p>
                <p class="small-text"><%= education.description %></p>
              </div>
            <% end %>
          </div>
        <% end %> <!-- fin de educations -->

        <!-- languages -->
        <% if @languages.empty? %>
        <% else %>
          <div class="">
            <h5><i class="fa fa-globe" aria-hidden="true"></i> LANGUAGES</h5>
            <ul><% @languages.each do |language| %>
                <li class="small-text">
                  <%= language.name %> <span id="chevron"> >> </span> <%= language.proficiency %>
                </li>
            <% end %>
            </ul>
          </div>
        <% end %> <!-- fin languages -->


        <!-- motivation letter -->
        <div id="top-border">
          <h5><i class="fa fa-pencil" aria-hidden="true"></i> COVER LETTER</h5>
          <p class="small-text"><%= simple_format @job_application.motivation_letter %></p>
        </div>
        <!-- footer de modal -->
        <div class="modal-footer view-as-modal-footer">
          <button type="button" class="btn btn-default btn-submit-application" id="return-margin-top" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i> Return</button>
          <%= button_to "Submit Application", submit_job_offer_job_application_path(@job_offer, @job_application), class: "btn btn-primary btn-return-to-funnel", id: "submit-margin-top" %>
        </div>

      </div> <!-- fin div englobbante du cv  -->
    </div>
  </div>
</div>  <!-- fin de la modal -->
