<!-- Second navbar -->
<div class="second-navbar-job-applications">
    <div class="navbar-higher-brand-recruiter2">
      <%= image_tag "LOreal_black_vector.png" %>
    </div>
    <div class="job-offer-title-job-applications"><%= @job_offer.title %></div>

    <!-- btn group in white navbar -->
      <div class="btn-group navbar-higher-btn-group-recruiter dropdown closed" role="group" aria-label="...">

        <!-- Folder icon dropdown -->
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-second-navbar" aria-haspopup="true" aria-expanded="false"><div><%= image_tag "letter_gray.svg", class: "cv-icon-navbar-folder" %></div></button>
        </div>
        <!-- Folder icon dropdown -->
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-second-navbar" aria-haspopup="true" aria-expanded="false"><div><%= image_tag "folder_gray_plus.svg", class: "cv-icon-navbar-folder" %></div></button>
        </div>
        <!-- Job Offer icon dropdown -->
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-second-navbar"><div><%= image_tag "cross_gray.svg", class: "cv-icon-navbar-noun-job" %></div></button>
        </div>
        <!-- Job Offer icon dropdown -->
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-second-navbar"><div><%= image_tag "printer_gray.svg", class: "cv-icon-navbar-noun-job" %></div></button>
        </div>
        <!-- Folder icon dropdown -->
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-second-navbar" aria-haspopup="true" aria-expanded="false"><div><%= image_tag "download_gray.svg", class: "cv-icon-navbar-folder" %></div></button>
        </div>
      </div> <!-- end of btn group -->





    <!-- legacy material design BS -->
    <%= form_tag batch_deletion_job_offer_job_applications_path, method: :delete, class:"form-pourri" do %>
      <%= hidden_field_tag :job_application_ids %>
      <button class="mdl-button mdl-js-button mdl-button--icon delete-but">
        <i class="material-icons">delete</i>
      </button>
    <% end %>
</div>

<!-- Side bar -->
<div class="menu-job-applications">
  <div class="menu-header">
    <button class="btn btn-primary text-center" id="filters-button">FILTERS</button>
    <div class="side-bar-content">
      <p><strong>All (<%= @job_applications.where(rejected: nil).length %>)</strong></p>
      <p>Contacted (<%= @job_applications.where(contact: true).length %>)</p>
      <p>New (<%= @job_applications.where(viewed: nil).length %>)</p>
      <br>
      <p>More <i class="fa fa-caret-down" aria-hidden="true"></i></p>
      <br>
    </div>
  </div>
    <div class="HR-agents">

      <div class="HR-agent">
        <div class="HR-agent-photo">
          <img src="http://26.media.tumblr.com/tumblr_lfwvh2sNGJ1qzkvmxo1_500.png" alt="Thierry Delas" class="avatar-large">
        </div>
        <div class="HR-agent-name-and-title">
          <p class="HR-agent-name">Thierry Delas</p>
          <p class="HR-agent-title">Senior Recruiter</p>
        </div>
      </div>
      <div class="HR-agent">
        <div class="HR-agent-photo">
          <img src="https://media.licdn.com/media/p/4/005/0a2/3f5/1717f6c.jpg" alt="Guillaume Corlay" class="avatar-large">
        </div>
        <div class="HR-agent-name-and-title">
          <p class="HR-agent-name">Guillaume C.</p>
          <p class="HR-agent-title">Hiring Manager</p>
        </div>
      </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br>


<!-- Table -->
<div class="wrapper-table-job-offer text-center ">
  <div>
    <div class="table-applications-wrapper">
      <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable width-95-percent ">
        <thead>
          <tr>
            <th></th>
            <th class="mdl-data-table__cell--non-numeric">Candidate</th>
            <th>XP</th>
            <th>Companies</th>
            <th>Education</th>
            <th>Languages</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody class="font-size-table">
          <% @job_applications.each_with_index do |job_application, y| %>
            <% unless job_application.rejected == true %>
            <tr>
              <td><span class="job-application-id" data-id="<%= job_application.id %>"><%= y + 1 %></span></td>
              <!-- Triple condition : 1. Was the profil viewed ? 2.Was the profil contacted ? 3. Has the profil an experience ?-->
                <% if job_application.viewed? != true  %>
                  <% if job_application.experiences.first == nil %>
                    <td class="text-center">-</td>
                  <% else %>
                    <% if job_application.contact == true %>
                      <td class="mdl-data-table__cell--non-numeric link-row"><%= link_to job_offer_job_application_path(@job_offer, job_application), class:"link-candidate" do %><strong><%= job_application.candidate.first_name %> <%= job_application.candidate.last_name %></strong><% end %><i class="fa fa-phone color-icon-phone" id="tool-number" aria-hidden="true"></i><i class="fa fa-envelope-o color-icon-mail" aria-hidden="true"></i><div class="font-weight-experiences-under-name link-candidate"><i><%= job_application.experiences.first.title %></i> @ <%= job_application.experiences.first.organization %></div></td>
                    <% else %>
                      <td class="mdl-data-table__cell--non-numeric link-row"><%= link_to job_offer_job_application_path(@job_offer, job_application), class:"link-candidate" do %><strong><%= job_application.experiences.first.title %> @ <%= job_application.experiences.first.organization %></strong><% end %></td>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if job_application.experiences.first == nil %>
                    <% if job_application.contact == true %>
                      <td class="text-center">-<i class="fa fa-envelope-o color-icons" aria-hidden="true"></i></td>
                    <% else %>
                      <td class="text-center">-</td>
                    <% end %>
                  <% else %>
                   <% if job_application.contact == true %>
                      <td class="mdl-data-table__cell--non-numeric"><%= link_to job_offer_job_application_path(@job_offer, job_application), class:"link-candidate" do %><%= job_application.candidate.first_name %> <%= job_application.candidate.last_name %><% end %><i class="fa fa-phone color-icon-phone" id="tool-number" aria-hidden="true"></i><i class="fa fa-envelope-o color-icon-mail" aria-hidden="true"></i><div class="font-weight-experiences-under-name link-candidate"><i><%= job_application.experiences.first.title %></i> @ <%= job_application.experiences.first.organization %></div></td>

                    <!-- Modal phone number -->
                      <div class="mdl-tooltip mdl-tooltip--large" id="tooltip" for="tool-number"><%= job_application.candidate.phone_number %></div>
                    <!-- -->
                   <% else %>
                      <td class="mdl-data-table__cell--non-numeric"><%= link_to job_offer_job_application_path(@job_offer, job_application), class:"link-candidate" do %><%= job_application.experiences.first.title %> @ <%= job_application.experiences.first.organization %><% end %></td>
                  <% end %>
                <% end %>
              <% end %>


              <td>
                <% $years =  job_application.experiences.first.end_date.year  - job_application.experiences.first.start_date.year - 2 %>
                <% $months = 12 - job_application.experiences.first.start_date.month + job_application.experiences.first.end_date.month %>
                <% if $months >= 12 && $months < 24 %>
                  <%  $years += 1 %>
                  <%  $months -= 12 %>
                <% end %>

                <% unless job_application.experiences.second == nil %>
                  <% $years += (job_application.experiences.second.end_date.year - job_application.experiences.second.start_date.year) %>
                  <% $months += (12 - job_application.experiences.second.start_date.month + job_application.experiences.second.end_date.month) %>
                  <% if $months >= 12 && $months < 24 %>
                    <% $years += 1 %>
                    <% $months -= 12 %>
                <% end %>
                <% end %>

                <% if $months != 0 %>
                  <%= $years %> y <%= $months %> m
                <% else %>
                  <%= $years %> y
                <% end %>

              </td>

                <!-- Organization -->

                  <% if job_application.experiences.empty? %>
                    <td>-</td>
                  <% else %>
                    <td><%= job_application.experiences.first.organization %></td>
                  <% end %>


                <!--  Education  -->
                  <% if job_application.educations.first.nil? %>
                    <td>-</td>
                  <% else %>
                    <td><%= job_application.educations.first.organization %></td>
                  <% end %>

                <!-- Language -->

                      <% if job_application.languages.first.nil? %>
                        <td>-</td>
                      <% else %>
                      <td>
                        <% job_application.languages.each do |language| %>
                        <%= language.name %>
                      <% end %>
                    <% end %>
                    </td>

                <!-- Date -->
                <td>
                  <% date = ((Time.now - job_application.created_at) / (24 * 60 * 60)).to_i %>
                  <% if I18n.l(job_application.created_at, format: "%A") == I18n.l(Date.today, format: "%A")  %>
                    <% date = "Today"%>
                  <% else %>
                    <% if date <= 1 %>
                      <% date = "1 day ago" %>
                    <% else %>
                    <% date = "#{((Time.now - job_application.created_at) / (24 * 60 * 60)).to_i} days ago" %>
                    <% end %>
                  <% end %>
                  <%= date %>
                  <div>(<%= job_application.created_at.strftime('%x') %>)</div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
   </div>
</div>

<!-- Modal to show the profil -->
<div class="modal">

</div>

<% content_for :after_js do %>
  <script>
  window.onload = function(){
    $('.wrapper-table-job-offer .mdl-checkbox__input').click(function(){
      var row = $(this).parents('tr');
      var id = $(row).find('.job-application-id').data('id');
      var checked_for_deletion = $(this).prop('checked');

      if (checked_for_deletion) {
        var hidden_field = $("#job_application_ids");
        var new_value = $(hidden_field).val() + "," + id;
        $(hidden_field).val(new_value);

      }
    });
  }
  </script>
<% end %>








