<!-- Second navbar -->
<div class="second-navbar-job-applications">
    <div class="navbar-higher-brand-recruiter2">
      <%= image_tag "LOreal_black_vector.png" %>
    </div>

    <!-- btn group in white navbar -->
      <div class="btn-group navbar-higher-btn-group-recruiter dropdown closed" role="group" aria-label="...">

        <!-- Letter icon dropdown -->
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-second-navbar-job-applications" aria-haspopup="true" aria-expanded="false"><div><%= image_tag "letter_gray.svg", class: "cv-icon-navbar-letter" %></div></button>
        </div>
        <!-- Folder icon dropdown -->
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-second-navbar-job-applications" aria-haspopup="true" aria-expanded="false"><div><%= image_tag "folder_gray_plus.svg", class: "cv-icon-navbar-folder" %></div></button>
        </div>
        <!-- Cross icon dropdown -->
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-second-navbar-job-applications"><div><%= image_tag "cross_gray.svg", class: "cv-icon-navbar-cross" %></div></button>
        </div>
        <!-- Printer icon dropdown -->
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-second-navbar-job-applications"><div><%= image_tag "printer_gray.svg", class: "cv-icon-navbar-printer" %></div></button>
        </div>
        <!-- Download icon dropdown -->
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-second-navbar-job-applications" aria-haspopup="true" aria-expanded="false"><div><%= image_tag "download_gray.svg", class: "cv-icon-navbar-download" %></div></button>
        </div>
      </div> <!-- end of btn group -->

      <!-- Job Offer Title & Parents -->
      <div class="job-offer-second-navbar">
        <p>
          <%= link_to "Active >", "#", class: "text-decoration-none black" %>
          <% if @folder_array != nil %>
            <% @folder_array.each do |folder| %>
              <%= link_to "#{folder.name} >", "#", class: "text-decoration-none black" %>
            <% end %>
          <% end %>
          <%= link_to "#", class: "text-decoration-none second-navbar-job-offer-title" do %>
            <%= "#{@job_offer.title} #{content_tag :i, nil, class: 'fa fa-chevron-down gray-mid-lighter'}".html_safe %>
          <% end %>
        </p>
      </div>

      <!-- page switch numbers + btn-group -->
      <div class="btn-group page-switch-text">
        <p>
          <strong><span id=entries-from></span>-<span id=entries-to></span></strong>
          of
          <strong><%= "#{@job_applications.count}" %></strong>
        </p>
      </div>
      <div class="btn-group navbar-higher-page page-switch-chevrons dropdown closed" role="group" aria-label="...">
        <!-- chevron left -->
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-second-navbar-page-switch" id="page-switch-left" aria-haspopup="true" aria-expanded="false"><div><i class="fa fa-chevron-left gray-light" aria-hidden="true"></i></div></button>
        </div>
        <!-- chevron right -->
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-second-navbar-page-switch" id="page-switch-right" aria-haspopup="true" aria-expanded="false"><div><i class="fa fa-chevron-right gray-light" aria-hidden="true"></i></div></button>
        </div>
      </div>
</div>

<!-- Side bar -->
<div class="menu-job-applications">
  <div class="menu-header">
    <button class="btn btn-primary text-center" id="filters-button">FILTERS</button>
    <div class="side-bar-content">
      <p><strong>All (<%= @job_applications.where(rejected: nil).length %>)</strong></p>
      <p>Contacted (<%= @job_applications.where(contact: true).length %>)</p>
      <p>New (<%= @job_applications.where(viewed: nil).length %>)</p>
      <br>
      <p>More <i class="fa fa-caret-down" aria-hidden="true"></i></p>
      <br>
    </div>
  </div>
    <div class="HR-agents">

      <div class="HR-agent">
        <div class="HR-agent-photo">
          <img src="http://26.media.tumblr.com/tumblr_lfwvh2sNGJ1qzkvmxo1_500.png" alt="Thierry Delas" class="avatar-large">
        </div>
        <div class="HR-agent-name-and-title">
          <p class="HR-agent-name">Thierry Delas</p>
          <p class="HR-agent-title">Senior Recruiter</p>
        </div>
      </div>
      <div class="HR-agent">
        <div class="HR-agent-photo">
          <img src="https://media.licdn.com/media/p/4/005/0a2/3f5/1717f6c.jpg" alt="Guillaume Corlay" class="avatar-large">
        </div>
        <div class="HR-agent-name-and-title">
          <p class="HR-agent-name">Guillaume C.</p>
          <p class="HR-agent-title">Hiring Manager</p>
        </div>
      </div>
    </div>

    <!-- bottom note -->
    <div class="bottom-left-note text-center">
      <p>Higher © <%= Time.now.year %> <span>|</span> <span class="blue">English</span></p>
    </div>
</div>

<!-- New Table (IMPLEMENT DATATABLES) -->
<table id="job_application_table">

  <thead>
    <tr style="border-bottom: 1px solid black">
      <th></th>
      <th>Candidate</th>
      <th>Fit</th>
      <th>XP</th>
      <th>Companies</th>
      <th></th>
      <th>Education</th>
      <th>Languages</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @job_applications.each_with_index do |job_application, y| %>
      <tr>
        <!-- Rank -->
        <td>
          <span class="job-application-id" data-id="<%= job_application.id %>"><%= y + 1 %></span>
        </td>

        <!-- Candidate -->
        <td class="datatable-candidate-col">
          <%= link_to job_offer_job_application_path(@job_offer, job_application), class: "link-candidate" do %>
            <%= job_application.experiences.first.title %> @ <%= job_application.experiences.first.organization %>
          <% end %>
        </td>

        <!-- Fit -->
        <td><%= rand(50..100).round(1).to_s %>%</td>

        <!-- XP: years -->
        <td>
          <% $years =  job_application.experiences.first.end_date.year  - job_application.experiences.first.start_date.year - 2 %>
          <% $months = 12 - job_application.experiences.first.start_date.month + job_application.experiences.first.end_date.month %>
          <% if $months >= 12 && $months < 24 %>
            <%  $years += 1 %>
            <%  $months -= 12 %>
          <% end %>

          <% unless job_application.experiences.second == nil %>
            <% $years += (job_application.experiences.second.end_date.year - job_application.experiences.second.start_date.year) %>
            <% $months += (12 - job_application.experiences.second.start_date.month + job_application.experiences.second.end_date.month) %>
            <% if $months >= 12 && $months < 24 %>
              <% $years += 1 %>
              <% $months -= 12 %>
            <% end %>
          <% end %>

          <% if $months != 0 %>
            <%= $years %> y <%= $months %> m
          <% else %>
            <%= $years %> y
          <% end %>
        </td>

        <!-- XP: organizations -->
        <td>
          <% if job_application.experiences.empty? %>
            -
          <% else %>
            <%= job_application.experiences.first.organization %>
          <% end %>
        </td>

        <!-- Education: Level -->
        <td>
          <% if job_application.educations.empty? %>
            -
          <% else %>
            <%= ["1°", "2°","B", "M", "PhD","Exe"].sample %>
          <% end %>
        </td>

        <!-- Education: School -->
        <td>
          <% if job_application.educations.empty? %>
            -
          <% else %>
            <%= job_application.educations.first.organization %>
          <% end %>
        </td>

        <!-- Languages -->
        <td>
          <% if job_application.languages.first.nil? %>
            -
          <% else %>
            <% job_application.languages.each do |language| %>
              <%= language.name + (language != job_application.languages.last ? ", " : "") %>
            <% end %>
          <% end %>
        </td>

        <!-- Date -->
        <td>
          <% date = ((Time.now - job_application.created_at) / (24 * 60 * 60)).to_i %>
          <% if I18n.l(job_application.created_at, format: "%A") == I18n.l(Date.today, format: "%A")  %>
            <% date = "Today"%>
          <% else %>
            <% if date <= 1 %>
              <% date = "1 day ago" %>
            <% else %>
            <% date = "#{((Time.now - job_application.created_at) / (24 * 60 * 60)).to_i} days ago" %>
            <% end %>
          <% end %>
          <%= date %>
          <div>(<%= job_application.created_at.strftime('%x') %>)</div>
        </td>

      </tr>
    <% end %>
  </tbody>


</table>

