<!-- blue bar (bottom-border replica) -->
<div class="blue-bottom-border-fixed"></div>

<!-- CORE -->
<div class="black-background" id="job-offer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="cv-wrapper"> <!-- div englobbante  -->

          <!-- header -->
          <div class="height-50px relative">
            <div class="cv-show-header-left">
              <p><strong>Candidate: </strong> <%= @experiences_sorted.first ? @experiences_sorted.first.title + " @ " + @experiences_sorted.first.organization : " " %><br>
              Applying to: <%= @job_offer.title + " @ " + @job_offer.organization.name %> <br>
              Available: 1st December 2016
              </p>
            </div>
            <div class="cv-show-header-right">
              <p> Fit: <%= @job_application.fit %>% <br>
              Applied on <br>
              13/10/2016
              </p>
            </div>
          </div>

          <!-- experiences  -->
            <% if @experiences_sorted.empty? %>
            <% else %>
              <div class="cv-separator"></div>
              <h3><i class="fa fa-file-text padding-3px" aria-hidden="true"></i> EXPERIENCE </h3>
              <div class="margin-left">
                <% @experiences_sorted.each do |experience| %>
                  <div class="cv-tab">
                    <h4 class="inline"><%= experience.title + " @ " + experience.organization %></h4>
                    <!-- experience dates -->
                    <% months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %>
                    <p class="color-mid-gray margin-top-1px"><%= months[experience.start_date.month - 1] + " " + experience.start_date.year.to_s + " - " + months[experience.end_date.month - 1] + " " + experience.end_date.year.to_s + " (" %>
                      <!-- years xp calculation -->
                      <% if (((experience.end_date - experience.start_date)/30.5).to_i/12) >= 2 %>
                        <%= (((experience.end_date - experience.start_date)/30.5).to_i/12).to_s + " years" %>
                      <% elsif (((experience.end_date - experience.start_date)/30.5).to_i/12) > 0 %>
                        <%= (((experience.end_date - experience.start_date)/30.5).to_i/12).to_s + " year" %>
                      <% end %>
                      <!-- month xp calculation -->
                      <% if (((experience.end_date - experience.start_date)/30.5).to_i%12) >= 2 %>
                        <%= (((experience.end_date - experience.start_date)/30.5).to_i%12).to_s + " months" %>
                      <% elsif (((experience.end_date - experience.start_date)/30.5).to_i%12) > 0 %>
                        <%= (((experience.end_date - experience.start_date)/30.5).to_i%12).to_s + " month" %>
                      <% end %>
                      <%= experience.location ? ") | #{experience.location}" : ")" %>
                    </p>
                    <p class="tab-description"><%= experience.description %></p>
                  </div>
                <% end %>
              </div>
            <% end %>

            <!-- educations -->
            <% if @educations_sorted.empty? %>
            <% else %>
              <div class="cv-separator"></div>
              <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i> EDUCATION</h3>
              <div class="margin-left">
                <% @educations_sorted.each do |education| %>
                  <div class="cv-tab">
                    <h4 class="inline"><%= education.degree_field + ' @ ' + education.organization %></h4>
                    <p class="color-mid-gray margin-top-1px"><%= education.start_date.year.to_s + " - " + education.end_date.year.to_s %></p>
                    <p class="tab-description"><%= education.description %></p>
                  </div>
                <% end %>
              </div>
            <% end %>

            <!-- languages -->
            <% if @languages.empty? %>
            <% else %>
              <div class="cv-separator"></div>
              <div class="">
                <h3><i class="fa fa-globe" aria-hidden="true"></i> LANGUAGES</h3>
                <div class="row language-blocks">
                  <% @languages.each do |language| %>
                    <div class="col-xs-6">
                      <h4 class="inline"><%= language.name %></h4>
                      <p class="small-text margin-bottom-20px"><%= language.proficiency %></p>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>

          <!-- motivation letter -->
          <div class="cv-separator"></div>
          <h3><i class="fa fa-pencil" aria-hidden="true"></i> COVER LETTER</h3>
          <div id="motivation-letter-in-modal">
            <p class="small-text"><%= simple_format @job_application.motivation_letter %></p>
          </div>

        </div> <!-- fin div englobbante  -->
      </div>
    </div>
  </div>

  <!-- APPLY NOW BAR -->
  <div class="apply-now-bar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-right">



          <% if recruiter_signed_in? %>
            <%= link_to "Edit offer", root_path, class: "btn btn-primary" %>
            <!-- replace with modal soon -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#First-Message-Modal">
              Message
              </button>

            <%#= link_to "Messages", conversation_job_application_path(@job_application), class: "btn btn-primary" %>
          <% else %>
            <% JobApplication.where(job_offer: @job_offer, candidate: current_candidate).first ? call_to_action = "Finish application" : call_to_action = "Apply now" %>
            <%= link_to call_to_action, new_job_offer_job_application_path(@job_offer), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div> <!-- apply now bar -->

</div> <!-- fin couleur de fond black -->

<!-- Modal -->
<div class="modal fade" id="First-Message-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Write your first message</h4>
      </div>
      <div class="modal-body">
        <div class="chat-message">
          <%= simple_form_for [@job_application, @new_message] do |f| %>
            <%= f.input :content, as: :string, placeholder:"type your message", class:"placeholder-message", label: false %>
            <%= f.button :submit, class: "btn-send", style: "width: 200px;"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>










