<!-- blue bar (bottom-border replica) -->
<div class="blue-bottom-border-fixed"></div>

<!-- CORE -->
<div class="black-background" id="job-offer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="cv-wrapper"> <!-- div englobbante  -->

          <!-- experience  -->
          <% if @experiences_sorted.empty? %>
          <% else %>
            <div class="">
              <h5><i class="fa fa-wpforms" aria-hidden="true"></i> EXPERIENCES</h5>
              <% @experiences_sorted.each do |experience| %>
                <div class="">
                  <h6 class="display-inline"><%= experience.title + " @ " + experience.organization %></h6>
                  <p class="display-inline small-text"><%= experience.start_date.month.to_s + "/" + experience.start_date.year.to_s + " - " + experience.end_date.month.to_s + "/" + experience.end_date.year.to_s + " >> " %>
                  <% if (((experience.end_date - experience.start_date)/30.5).to_i/12) != 0 %>
                    <%=  (((experience.end_date - experience.start_date)/30.5).to_i/12).to_s + " year(s) " %>
                  <% end %>
                  <% if (((experience.end_date - experience.start_date)/30.5).to_i%12) != 0 %>
                    <%= (((experience.end_date - experience.start_date)/30.5).to_i%12).to_s + " month(s)" %><p>
                  <% end %>
                  <p class="small-text"><%= experience.description %></p>
                </div>
              <% end %>
            </div>
          <% end %> <!-- fin de experiences -->

          <!-- education -->
          <% if @educations_sorted.empty? %>
          <% else %>
            <div class="">
              <h5><i class="fa fa-graduation-cap" aria-hidden="true"></i> EDUCATION</h5>
              <% @educations_sorted.each do |education| %>
                <div class="">
                  <h6 class="display-inline"><%= education.degree_type + ' ' + education.degree_field + ' @ ' + education.organization %></h6>
                  <p class="small-text"><%= education.start_date.year.to_s + " - " + education.end_date.year.to_s + " >> " + ([(education.end_date.year - education.start_date.year), 1].max ).to_s + " year(s)" %><p>
                  <p class="small-text"><%= education.description %></p>
                </div>
              <% end %>
            </div>
          <% end %> <!-- fin de educations -->

          <!-- languages -->
          <% if @languages.empty? %>
          <% else %>
            <div class="">
              <h5><i class="fa fa-globe" aria-hidden="true"></i> LANGUAGES</h5>
              <ul><% @languages.each do |language| %>
                  <li class="small-text">
                    <%= language.name + ' >> ' + language.proficiency %>
                  </li>
              <% end %>
              </ul>
            </div>
          <% end %> <!-- fin languages -->

          <!-- motivation letter -->
          <div class="top-border">
            <h5><i class="fa fa-pencil" aria-hidden="true"></i> COVER LETTER</h5>
            <p class="small-text"><%= simple_format @job_application.motivation_letter %></p>
          </div>

        </div> <!-- fin div englobbante  -->
      </div>
    </div>
  </div>

  <!-- APPLY NOW BAR -->
  <div class="apply-now-bar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-right">

          <%#= link_to "Messages", conversations_job_offer_job_applications_path(@job_offer, class: "mdl-button mdl-js-button mdl-button--raised delete-but") %>

          <% if recruiter_signed_in? %>
            <%= link_to "Edit offer", root_path, class: "btn btn-primary" %>
            <!-- replace with modal soon -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#First-Message-Modal">
              Message
              </button>

            <%#= link_to "Messages", conversation_job_application_path(@job_application), class: "btn btn-primary" %>
          <% else %>
            <% JobApplication.where(job_offer: @job_offer, candidate: current_candidate).first ? call_to_action = "Finish application" : call_to_action = "Apply now" %>
            <%= link_to call_to_action, new_job_offer_job_application_path(@job_offer), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div> <!-- apply now bar -->

</div> <!-- fin couleur de fond black -->

<!-- Modal -->
<div class="modal fade" id="First-Message-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Write your first message</h4>
      </div>
      <div class="modal-body">
        <div class="chat-message">
          <%= simple_form_for [@job_application, @new_message] do |f| %>
            <%= f.input :content, as: :string, placeholder:"type your message", class:"placeholder-message", label: false %>
            <%= f.button :submit, class: "btn-send", style: "width: 200px;"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>










