<div class="gray-background"> <!-- couleur de fond grise -->
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="cv-wrapper"> <!-- div englobbante  -->

          <br>
          <br>

          <h4 class="text-center">Application submitted!</h4>

          <br>

          <p> A confirmation has been sent to <b><%= current_candidate.email %></b>. You will receive another email when the employer invites you for an interview.</p>
          <p>Would you like to be notified when recruiters look at your résumé? Then try our commitment-free premium membership for a week.</p>
          <p>Improve your chances of getting a call-back by 37% on all applications, past & new!</p>
          <div class="text-center">

          <br>
          <br>

            <%= link_to "Get verified", root_path, class: "btn btn-primary" %>

            <br>
            <br>

            <p>or</p>

            <p>Apply to another job:</p>
            <div>
              <form action="/search" class="navbar-higher-search" id="search">
                <input type="text" class="navbar-higher-search-input" placeholder="What is the position you are looking for ?" name="query">
                <button type="submit" class="navbar-higher-search-btn">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </div>

            <br>
            <br>
            <p>Related job offers:</p>


            <div>
              <% @job_offers.take(3).each do |job_offer| %>
              <div class="product">
                <!-- replace img with job_offer.organization.photo_url -->
                <% if job_offer.recruiter.organization.name == "Oracle" %>
                  <%= image_tag "oracle-logo-organization.png", class: "product-image" %>
                <% elsif job_offer.recruiter.organization.name == "L'Oréal" %>
                  <%= image_tag "loreal-logo-organization.png", class: "product-image" %>
                <% elsif job_offer.recruiter.organization.name == "Amazon" %>
                  <%= image_tag "amazon-logo-organization.png", class: "product-image" %>
                <% end %>
                <div class='product-body'>
                  <h3><%= job_offer.recruiter.organization.name %></h3>
                  <p><%= link_to job_offer.title, job_offer_path(job_offer) %></p>
                </div>
                  <ul class="list-inline product-controls hidden-sm hidden-xs">
                    <li><i class="fa fa-globe"></i> <%= job_offer.location %></li>
                    <li><i class="fa fa-wpforms"></i> <%= job_offer.min_xp.to_i.to_s + "y+" %></li>
                    <li><i class="fa fa-money"></i> <%= job_offer.salary.to_s + "K€" %></li>
                  </ul>
                </div>
              <% end %>
            </div>

          </div>

        </div> <!-- div englobbante cv-wrapper  -->
      </div>
    </div>
  </div> <!-- fin boostrap container  -->
</div> <!-- fin couleur de fond grise  -->

