<div  id="content-padded" >
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
      <% if current_candidate.first_name %>
        <h2 id="title-candidate-padded"><%= @candidate.first_name + " " + @candidate.last_name %> </h2>
        <p><strong> Phone number </strong> : <%= @candidate.phone_number %></p>
        <p><strong> Email </strong> : <%= @candidate.email %></p>
      <% else %>
        <h2 id="title-candidate-padded">All we have on you is :</h2>
        <p><strong> Email </strong> : <%= @candidate.email %></p>
        <p>Give us more !</p>
      <% end %>
        <button type="button" id="button-candidate" class="btn btn-warning" data-toggle="modal" data-target="#EditInfoModal">Edit Info</button>
      </div>
    </div>
  </div>
</div>

<!-- modal Edit info user -->
<div class="modal fade" id="EditInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Update your info</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for([ current_candidate ]) do |form| %>
            <%= form.input :first_name %>
            <%= form.input :last_name %>
            <%= form.input :phone_number %>
            <%= form.button :submit %>
          <% end %>
      </div>
    </div>
  </div>
</div>


