<div id="job_offers_index_wrapper">
  <div class="row">
    <div class="tableau-offer">
      <table class="vw">
        <!-- table headline -->
        <thead class="head-fixed text-center">
          <div class="navbar-higher-brand-recruiter2">
            <%= image_tag "LOreal_black_vector.png" %>
          </div>
          <!-- btn group in white navbar -->
          <div class="btn-group navbar-higher-btn-group-recruiter dropdown closed" role="group" aria-label="...">
            <!-- Folder icon dropdown -->
            <div class="btn-group">
              <button type="button" class="btn btn-default" id="folderDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div><%= image_tag "folder_gray_plus.svg", class: "cv-icon-navbar-folder" %></div></button>
                <ul class="dropdown-menu" aria-labelledby="folderDropdownMenuButton">
                  <li class="dropdown-item"><%= link_to "#", data: {toggle: "modal", target: "#AddFolderModal"} do %> Add folder<% end %></li>
                  <li class="dropdown-item"><%= link_to "#", id: "collapse-all-folders-btn" do %> Collapse all<% end %></li>
                  <li class="dropdown-item"><%= link_to "#", id: "expand-all-folders-btn" do %> Expand all<% end %></li>
                </ul>
            </div>
            <!-- Job Offer icon dropdown -->
            <div class="btn-group">
              <button type="button" class="btn btn-default" id="offerDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div><%= image_tag "noun_job_gray_plus.svg", class: "cv-icon-navbar-noun-job" %></div></button>
                <ul class="dropdown-menu" aria-labelledby="offerDropdownMenuButton">
                  <li class="dropdown-item"><%= link_to "#", data: {toggle: "modal", target: "#CreateJobOfferModal"} do %> Create job offer<% end %></li>
                </ul>
            </div>
          </div> <!-- end of btn group -->

          <tr class="flex height-40px bold table-head">
            <th class="column-0"></th>
            <th class="column-1 text-center"></th>
            <th class="column-2 text-center">Offers</th>
            <th class="column-3 text-center">Candidates</th>
            <th class="column-4 text-center">Contacted</th>
            <th class="column-5 text-center">Average Fit</th>
          </tr>
        </thead>

        <!-- table body -->
        <% if @job_offers.any? || @job_offer_folders.any? %>
          <tbody class="offers-body">

            <!-- first row: HOLDING -->
            <tr class="border bold holding-row">
              <td class="column-0"></td>
              <td class="column-1 text-left folder">
                <%= link_to root_path do %>
                  <span id="organization_overhead_name">Active</span>
                <% end %>
              </td>
              <td class="column-2"><%= @job_offers.select { |job_offer| job_offer.published == true }.count %></td>
              <td class="column-3"><%= @job_applications.select { |job_application| job_application.submit == true && job_application.rejected == nil }.count %></td>
              <td class="column-4"><%= @job_applications.select { |job_application| job_application.contact == true && job_application.rejected == nil }.count %></td>
              <td class="column-5"><%= rand(75..85).round(1).to_s + "%" %></td>
            </tr> <!-- end of iteration over @job_offer_folders -->

            <!-- Method to calculate folder and job_offer indentation -->
            <% def tree_level(node) %>
              <% no_parent = false %>
              <% level = -1 %>
              <% if node.class == JobOffer %>
                <% level = level + 1 %>
                <% node = node.job_offer_folder %>
              <% end %>
              <% while no_parent == false do %>
                <% node = node.parent %>
                <% no_parent = node.nil? %>
                <% level = level + 1 %>
              <% end %>
              <% return level %>
            <% end %>


            <!-- Methods to count job_offers inside folders -->
            <% def count_offers_inside_folder(folder) %>
              <% sum = 0 %>
              <% if folder.job_offers.any? %>
                <% sum += folder.job_offers.count %>
              <% end %>
              <% return sum %>
            <% end %>

            <% def dive_inside_folder_for_offers(folder, sum) %>
              <% if folder.job_offer_folders.any? %>
                <% folder.job_offer_folders.each do |child_folder| %>
                  <% sum += count_offers_inside_folder(child_folder).to_i %>
                  <% dive_inside_folder_for_offers(child_folder, sum) %>
                <% end %>
              <% end %>
              <% return sum %>
            <% end %>

            <% def count_down_tree_for_offers(folder) %> <!-- condition = submit or contact -->
              <% sum = 0 %>
              <% sum += count_offers_inside_folder(folder).to_i %>
              <% sum = dive_inside_folder_for_offers(folder, sum) %>
              <% return sum %>
            <% end %>


            <!-- Methods to count submitted job_applications -->
            <% def count_applications_inside_folder(folder) %>
              <% sum = 0 %>
              <% if folder.job_offers.any? %>
                <% folder.job_offers.each do |offer| %>
                  <% sum += offer.job_applications.where(submit: true, rejected: nil).count %>
                <% end %>
              <% end %>
              <% return sum %>
            <% end %>

            <% def dive_inside_folder(folder, sum) %>
              <% if folder.job_offer_folders.any? %>
                <% folder.job_offer_folders.each do |child_folder| %>
                  <% sum += count_applications_inside_folder(child_folder).to_i %>
                  <% dive_inside_folder(child_folder, sum) %>
                <% end %>
              <% end %>
              <% return sum %>
            <% end %>

            <% def count_down_tree(folder) %> <!-- condition = submit or contact -->
              <% sum = 0 %>
              <% sum = sum + count_applications_inside_folder(folder).to_i %>
              <% sum = dive_inside_folder(folder, sum) %>
              <% return sum %>
            <% end %>


            <!-- Methods to count contact job_applications -->
            <% def count_contacted_applications_inside_folder(folder) %>
              <% sum = 0 %>
              <% if folder.job_offers.any? %>
                <% folder.job_offers.each do |offer| %>
                  <% sum = sum + offer.job_applications.where(contact: true, rejected: nil).count %>
                <% end %>
              <% end %>
              <% return sum %>
            <% end %>

            <% def dive_inside_folder_for_contacted(folder, sum) %>
              <% if folder.job_offer_folders.any? %>
                <% folder.job_offer_folders.each do |child_folder| %>
                  <% sum = sum + count_contacted_applications_inside_folder(child_folder).to_i %>
                  <% dive_inside_folder_for_contacted(child_folder, sum) %>
                <% end %>
              <% end %>
              <% return sum %>
            <% end %>

            <% def count_down_tree_for_contacted(folder) %> <!-- condition = submit or contact -->
              <% sum = 0 %>
              <% sum += count_contacted_applications_inside_folder(folder).to_i %>
              <% sum = dive_inside_folder_for_contacted(folder, sum) %>
              <% return sum %>
            <% end %>


            <!-- RECURSIVE METHOD (TREE STRUCTURE) -->
            <%  def draw_tree(parent_folder) %>
               <% parent_folder.job_offer_folders.sort_by { |folder| folder.name }.each do |folder| %>
                  <%= folder_html(folder) %>
                  <% if folder.job_offers.any? %>
                    <% folder.job_offers.sort_by { |job_offer| job_offer.title }.each do |offer| %>
                      <%= offer_html(offer) %>
                    <% end %>
                  <% end %>
                  <% if folder.job_offer_folders.any? %>
                    <% draw_tree(folder) %>
                  <% end %>
               <% end %>
            <%  end %>

            <%  def folder_html(folder) %>

                  <tr class="border folder-js <%= folder.open == true ? "folder-open" : "folder-closed" %> <%= folder.parent ? "" : "parent-folder-row" %> <%= 'tree-folder-level-' + tree_level(folder).to_s %> <%= "folder-#{folder.id.to_s}" %>">

                    <td class="column-0">
                      <%= link_to job_offer_folder_path(folder, type: "star"), method: :put, remote: true do %>
                        <i class="fa star-icon <%= folder.star == true ? "fa-star yellow" : "fa-star-o gray-light" %>" aria-hidden="true"></i>
                      <% end %>
                    </td>
                    <td class="column-1 text-left bold <%= 'folder-indentation-' + tree_level(folder).to_s %>">
                      <div class="folder-name-position">
                        <%= link_to "#", class: "folder-link" do %>
                          <i class="fa folder-icon <%= folder.open == true ? "fa-folder-open" : "fa-folder" %>" aria-hidden="true"></i><%= " " + folder.name %>
                        <% end %>
                        <!-- settings dropdown -->
                        <div class="dropdown offer_settings_icon">
                          <i class="fa fa-cog cog-icon" aria-hidden="true" data-toggle="dropdown"></i>
                          <ul class="dropdown-menu dropdown-offer-folder-js dropdown-menu-folder pull-right dropdown-menu-right">
                            <li>
                              <a href="" data-toggle="modal" data-target="#RenameFolder<%=folder.id%>Modal" class="inline no-decoration">
                                <i class="fa fa-pencil"></i> <%= t(".profile", default: "rename") %>
                              </a>
                            </li>
                            <li>
                              <a href="" data-toggle="modal" data-target="#MoveFolder<%=folder.id%>Modal" class="inline no-decoration">
                                <i class="fa fa-arrows"></i> <%= t(".profile", default: "move") %>
                              </a>
                            </li>
                            <li>
                              <%= link_to job_offer_folder_path(folder), method: :delete do %>
                                <i class="fa fa-times"></i> <%= t(".profile", default: "delete") %>
                              <% end %>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <%= link_to job_offer_folder_path(folder, type: "collapse"), method: :put, remote: true, class: "td-link-absolute" do %> <% end %>
                    </td>
                    <td class="column-2">
                      <%= count_down_tree_for_offers(folder).to_s %><%= link_to job_offer_folder_path(folder, type: "collapse"), method: :put, remote: true, class: "td-link-absolute" do %> <% end %>
                    </td>
                    <td class="column-3">
                      <%= count_down_tree(folder).to_s %><%= link_to job_offer_folder_path(folder, type: "collapse"), method: :put, remote: true, class: "td-link-absolute" do %> <% end %>
                    </td>
                    <td class="column-4">
                      <%= count_down_tree_for_contacted(folder).to_s %><%= link_to job_offer_folder_path(folder, type: "collapse"), method: :put, remote: true, class: "td-link-absolute" do %> <% end %>
                    </td>
                    <td class="column-5">
                      <% if count_down_tree(folder) == 0 %>
                        <%= "-" %>
                      <% else %>
                        <%= rand(60..90).round(1).to_s + "%" %>
                      <% end %>
                      <%= link_to job_offer_folder_path(folder, type: "collapse"), method: :put, remote: true, class: "td-link-absolute" do %> <% end %>
                    </td>
                  </tr>

                  <!-- modal Rename Folder-->
                    <div class="modal fade" id="RenameFolder<%=folder.id%>Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title text-left" id="myModalLabel"><i class="fa fa-folder"></i> Edit Folder Name</h4>
                          </div>
                          <div class="modal-body text-left">
                            <%= simple_form_for(folder) do |field| %>
                              <%= field.input :name, label: false %>
                              <%= field.button :submit, "RENAME" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- modal Move Folder-->
                    <div class="modal fade" id="MoveFolder<%=folder.id%>Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title text-left" id="myModalLabel"><i class="fa fa-folder"></i> Move Folder</h4>
                          </div>
                          <div class="modal-body text-left">
                            <%= simple_form_for(folder) do |field| %>
                              <%= field.input :parent_id, label: 'In which folder?', hint: 'If you want your folder to stand alone, leave this field blank.', collection: @all_folders, class: 'String'  %>
                              <%= field.button :submit, "MOVE" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>

            <%  end %>


            <%  def offer_html(offer) %>
                  <tr class="border offer-js <%= offer.job_offer_folder.open == true ? "folder-open" : "folder-closed" %> <%= "offer-#{offer.id.to_s}" %>">
                    <td class="column-0">
                      <%= link_to job_offer_path(offer, type: "star"), method: :put, remote: true do %>
                        <i class="fa <%= offer.star == true ? "fa-star yellow" : "fa-star-o gray-light" %> star-icon" aria-hidden="true"></i>
                      <% end %>
                    </td>
                    <td class="column-1 text-left <%= 'folder-indentation-' + tree_level(offer).to_s %>">
                      <%= link_to job_offer_job_applications_path(offer), class: "offer-link" do %>
                        <%= image_tag "noun_job.svg", class: "cv-icon" %>
                        <%= offer.title + (offer.location ? " | " + offer.location : "") %>
                      <% end %>
                      <!-- settings dropdown -->
                      <div class="dropdown offer_settings_icon">
                        <i class="fa fa-cog cog-icon" aria-hidden="true" data-toggle="dropdown"></i>
                        <!-- dropdown list -->
                        <ul class="dropdown-menu dropdown-offer-folder-js dropdown-menu-offer pull-right dropdown-menu-right">
                          <li>
                            <%= link_to edit_job_offer_path(offer) do %>
                              <i class="fa fa-eye"></i> <%= t(".profile", default: "view") %>
                            <% end %>
                          </li>
                          <li>
                            <%= link_to "#EditJobOfferModal", data: { toggle: "modal" } do %>
                              <i class="fa fa-cogs"></i> <%= t(".profile", default: "edit") %>
                            <% end %>
                            <!-- Modal: Edit a Job Offer -->
                            <%= render "shared/modals/edit_job_offer_modal", job_offer: offer %>
                          </li>
                          <li>
                            <%= link_to job_offer_path(offer), method: :delete do %>
                              <i class="fa fa-times"></i> <%= t(".profile", default: "delete") %>
                            <% end %>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td class="column-2">
                      <% if offer.published %>
                        <% days_ago = ((Time.now - offer.created_at) / (24 * 60 * 60)).to_i %>
                        <% if I18n.l(offer.created_at, format: "%A") == I18n.l(Date.today, format: "%A")  %>
                          <% days_ago = "Today"%>
                        <% else %>
                          <% if days_ago <= 1 %>
                            <% days_ago = "1 day ago" %>
                          <% else %>
                          <% days_ago = "#{((Time.now - offer.created_at) / (24 * 60 * 60)).to_i} days ago" %>
                          <% end %>
                        <% end %>
                        <% months_array = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]%>
                        <% creation_date = "(" + (offer.created_at.day > 9 ? "" : "0") + offer.created_at.day.to_s + "-" + months_array[offer.created_at.month - 1] + ")" %>
                        <%= days_ago + " " + creation_date %>
                      <% else %>
                        <%= link_to "(not published)", root_path, class: "text-decoration-none bold" %>
                      <% end %>
                    </td>
                    <td class="column-3"><%= offer.job_applications.where(submit: true, rejected: nil).count %></td>
                    <td class="column-4"><%= offer.job_applications.where(contact: true, rejected: nil).count %></td>
                    <td class="column-5"><%= rand(50..100).round(1).to_s + "%" %></td>
                  </tr>
            <%  end %>


            <!-- draw tree -->
            <% @parent_folders.each do |folder| %>
              <%= folder_html(folder) %>
              <% if folder.job_offers.any? %>
                <% folder.job_offers.sort_by { |job_offer| job_offer.title }.each do |offer| %>
                  <%= offer_html(offer) %>
                <% end %>
              <% end %>
              <% draw_tree(folder) %>
            <% end %>


          </tbody>
        <% else %> <!-- if table is empty don't iterate -->
        <% end %>  <!-- end of if function -->
      </table>
    </div>
  </div>
</div>

<!-- SCRIPTS -->

<!-- Modal: Create Offer -->
<div class="modal fade" id="CreateJobOfferModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"><%= image_tag "noun_job.svg", class: "cv-icon-navbar" %> Create an offer</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for([ @job_offer ]) do |form| %>
          <%= form.input :title %>
          <%= form.input :job_offer_folder_id, label: 'In which folder?', hint: 'Can\'t be blank. Select the folder in which you want the job offer to go.', collection: @all_folders, class: 'String' %>
          <%= form.button :submit, value: "CREATE JOB OFFER" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal: Create a Folder -->
<div class="modal fade" id="AddFolderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-folder folder-icon" aria-hidden="true"></i> Add a Folder</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for([ @job_offer_folder ]) do |form| %>
          <%= form.input :name %>
          <%= form.input :parent_id, label: 'In which folder?', hint: 'If you want your folder to stand alone, leave this field blank.', collection: @all_folders, class: 'String' %>
          <%= form.button :submit, value: 'ADD FOLDER' %>
        <% end %>
      </div>
    </div>
  </div>
</div>



