<div id="job_offers_index_wrapper">
  <div class="row">
    <div class="tableau-offer">
      <table class="vw">
        <!-- table headline -->
        <thead class="head-fixed text-center">
          <div class="navbar-higher-brand-recruiter2">
            <%= image_tag "LOreal_black_vector.png" %>
          </div>
          <tr class="flex height-45px">
            <th class="column-1 text-center"></th>
            <th class="column-2 text-center">Offers</th>
            <th class="column-3 text-center">Candidates</th>
            <th class="column-4 text-center">Contacted</th>
            <td class="column-5 text-center">Average Fit</td>

          </tr>
        </thead>

        <!-- table body -->
        <% if @job_offers.any? || @job_offer_folders.any? %>
          <tbody class="offers-body">

            <!-- first row: HOLDING -->
            <tr class="border">
              <td class="column-1">
                <%= link_to root_path do %>
                  <span class="noun_job">Holding</span>
                <% end %>
              </td>
              <td class="column-2">
                <%= @job_offers.count %>
              </td>
              <td class="column-3"><%= @job_offers.count %></td>
              <td class="column-4"><%= @job_offers.count %></td>
              <td class="column-5">65%</td>

            </tr> <!-- end of iteration over @job_offer_folders -->


            <!-- RECURSIVE METHOD (TREE STRUCTURE) -->
            <%  def draw_tree(parent_folder) %>
               <% parent_folder.job_offer_folders.each do |folder| %>
                  <%= folder_html(folder) %>
                  <% if folder.job_offer_folders.any? %>
                    <%= draw_tree(folder) %>
                  <% end %>
                  <% if folder.job_offers.any? %>
                    <% folder.job_offers.each do |offer| %>
                      <%= offer_html(offer) %>
                    <% end %>
                  <% end %>
               <% end %>
            <%  end %>


            <%  def folder_html(folder) %>
                  <tr class="border <%= folder.parent ? "" : "parent-folder" %>">
                    <td class="column-1">
                      <%= link_to root_path do %>
                      <% if folder.parent %>
                        <div class="inline padding-left-30px"></div>
                      <% end %>
                        <span class="noun_job"><i class="fa fa-folder-open" aria-hidden="true"></i><i class="fa fa-folder" aria-hidden="true"></i><%= " " + folder.name %></span>
                      <% end %>
                    </td>
                    <td class="column-2">
                      <%= 3.to_s %>
                    </td>
                    <td class="column-3"><%= 3.to_s %></td>
                    <td class="column-4"><%= 4.to_s %></td>
                    <td class="column-5"><%= 4.to_s %></td>
                  </tr>
            <%  end %>


            <%  def offer_html(offer) %>
                  <tr class="border">
                    <td class="column-1">
                      <%= link_to root_path do %>
                        <%= image_tag "noun_job.png", width: '25' %>
                        <span class="noun_job"><%= offer.title %></span>
                      <% end %>
                    </td>
                    <td class="column-2">
                      <%= 3.to_s %>
                    </td>
                    <td class="column-3"><%= 3.to_s %></td>
                    <td class="column-4"><%= 4.to_s %></td>
                    <td class="column-4"><%= 4.to_s %></td>
                  </tr>
            <%  end %>


            <!-- draw tree -->
            <% @parent_folders.each do |folder| %>
              <%= folder_html(folder) %>
              <% if folder.job_offers.any? %>
                <% folder.job_offers.each do |offer| %>
                  <%= offer_html(offer) %>
                <% end %>
              <% end %>
              <%= draw_tree(folder) %>
            <% end %>


          </tbody>
        <% else %> <!-- if table is empty don't iterate -->
        <% end %>  <!-- end of if function -->
      </table>
    </div>
  </div>
  <br>
  <br>
  <!-- Button: Create Offer -->
  <button type="button" class="btn-form-2" data-toggle="modal" data-target="#CreateJobOfferModal">create an offer</button>
  <br>
  <br>
  <!-- Button: Add Folder -->
  <button type="button" class="btn-form-2" data-toggle="modal" data-target="#AddFolderModal">add a folder</button>

</div>

<!-- SCRIPTS -->

<!-- Modal: Create Offer -->
<div class="modal fade" id="CreateJobOfferModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create an offer</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for([ @job_offer ]) do |form| %>
          <%= form.input :title %>
          <%= form.input :description, input_html: { id: 'job_offer_description_field' } %>
          <%= form.input :location %>
          <%= form.input :min_xp %>
          <%= form.input :max_xp %>
          <%= form.input :salary %>
          <%= form.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal: Create Offer -->
<div class="modal fade" id="AddFolderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create an offer</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for([ @job_offer_folder ]) do |form| %>
          <%= form.input :name %>
          <%= form.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>



