<div id="job_offers_index_wrapper">
  <div class="row">
    <div class="tableau-offer">
      <table class="vw">
        <!-- table headline -->
        <thead class="head-fixed text-center">
          <div class="navbar-higher-brand-recruiter2">
            <%= image_tag "LOreal_black_vector.png" %>
          </div>
          <tr class="flex height-45px">
            <th class="column-1 text-center"></th>
            <th class="column-2 text-center">Offers</th>
            <th class="column-3 text-center">Candidates</th>
            <th class="column-4 text-center">Contacted</th>
          </tr>
        </thead>

        <!-- table body -->
        <% if @job_offers.any? || @job_offer_folders.any? %>
          <tbody class="offers-body">

            <!-- first row: HOLDING -->
            <tr class="border">
              <td class="column-1">
                <%= link_to root_path do %>
                  <span class="noun_job">Holding</span>
               <% end %>
              </td>
              <td class="column-2">
                <%= @job_offers.count %>
              </td>
              <td class="column-3"><%= @job_offers.count %></td>
              <td class="column-4"><%= @job_offers.count %></td>
            </tr> <!-- end of iteration over @job_offer_folders -->


            <!-- iterate of job offer folders -->
            <% @job_offer_folders.each do |job_offer_folder| %>
              <tr class="border">
                <td class="column-1">
                  <%= link_to root_path do %>
                    <span class="noun_job"><i class="fa fa-folder-open" aria-hidden="true"></i><i class="fa fa-folder" aria-hidden="true"></i> <%= job_offer_folder.name %></span>
                 <% end %>
                </td>
                <td class="column-2">
                  <%= job_offer_folder.job_offers.count %>
                </td>
                <td class="column-3"><%= job_offer_folder.job_offers.count %></td>
                <td class="column-4"><%= job_offer_folder.job_offers.count %></td>
              </tr>
            <%end%> <!-- end of iteration over @job_offer_folders -->


            <!-- iterate over job_offers -->
            <% @job_offers.each do |job_offer| %>
              <tr class="border">
                <td class="column-1">
                  <%= link_to job_offer_job_applications_path(job_offer) do %>
                    <%= image_tag "noun_job.png", :width => '25' %>
                    <span class="noun_job"><%= job_offer.title %></span>
                 <% end %>
                </td>
                <td class="column-2">
                <% date = ((Time.now - job_offer.created_at) / (24 * 60 * 60)).to_i %>
                  <% if I18n.l(job_offer.created_at, format: "%A") == I18n.l(Date.today, format: "%A")  %>
                    <% date = "Today"%>
                  <% else %>
                    <% if date <= 1 %>
                      <% date = "1 day ago" %>
                    <% else %>
                    <% date = "#{((Time.now - job_offer.created_at) / (24 * 60 * 60)).to_i} day ago" %>
                    <% end %>
                  <% end %>
                  <%= date %>
                  <div>(<%= job_offer.created_at.strftime('%x') %>)</div>
                </td>
                <td class="column-3"><%= job_offer.job_applications.where(submit: true, rejected: nil).count %></td>
                <td class="column-4"><%= job_offer.job_applications.where(contact: true, rejected: nil).count %></td>
              </tr>
            <%end%> <!-- end of iteration over @job_offers -->


          </tbody>
        <% else %> <!-- if table is empty don't iterate -->
        <% end %>  <!-- end of if function -->
      </table>
    </div>
  </div>
  <br>
  <br>
  <!-- Button: Create Offer -->
  <button type="button" class="btn-form-2" data-toggle="modal" data-target="#CreateJobOfferModal">create an offer</button>
  <br>
  <br>
  <!-- Button: Add Folder -->
  <button type="button" class="btn-form-2" data-toggle="modal" data-target="#AddFolderModal">add a folder</button>

</div>

<!-- SCRIPTS -->

<!-- Modal: Create Offer -->
<div class="modal fade" id="CreateJobOfferModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create an offer</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for([ @job_offer ]) do |form| %>
          <%= form.input :title %>
          <%= form.input :description, input_html: { id: 'job_offer_description_field' } %>
          <%= form.input :location %>
          <%= form.input :min_xp %>
          <%= form.input :max_xp %>
          <%= form.input :salary %>
          <%= form.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal: Create Offer -->
<div class="modal fade" id="AddFolderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create an offer</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for([ @job_offer_folder ]) do |form| %>
          <%= form.input :name %>
          <%= form.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
