<div id="job_offers_index_wrapper">
  <div class="row">
    <div class="tableau-offer">
      <table class="vw">
        <!-- table headline -->
        <thead class="head-fixed text-center">
          <div class="navbar-higher-brand-recruiter2">
            <%= image_tag "LOreal_black_vector.png" %>
          </div>
          <tr class="flex height-45px bold">
            <th class="column-0"></th>
            <th class="column-1 text-center"></th>
            <th class="column-2 text-center">Offers</th>
            <th class="column-3 text-center">Candidates</th>
            <th class="column-4 text-center">Contacted</th>
            <td class="column-5 text-center">Average Fit</td>

          </tr>
        </thead>

        <!-- table body -->
        <% if @job_offers.any? || @job_offer_folders.any? %>
          <tbody class="offers-body">

            <!-- first row: HOLDING -->
            <tr class="border bold">
              <td class="column-0"></td>
              <td class="column-1 text-left folder">
                <%= link_to root_path do %>
                  <span id="organization_overhead_name">Holding</span>
                <% end %>
              </td>
              <td class="column-2">
                <%= @job_offers.count %>
              </td>
              <td class="column-3"><%= @job_offers.count %></td>
              <td class="column-4"><%= @job_offers.count %></td>
              <td class="column-5">65%</td>
            </tr> <!-- end of iteration over @job_offer_folders -->

            <!-- Method to calculate folder and job_offer indentation -->
            <% def tree_level(node) %>
              <% no_parent = false %>
              <% level = -1 %>
              <% if node.class == JobOffer %>
                <% level = level + 1 %>
                <% node = node.job_offer_folder %>
              <% end %>
              <% while no_parent == false do %>
                <% node = node.parent %>
                <% no_parent = node.nil? %>
                <% level = level + 1 %>
              <% end %>
              <% return level %>
            <% end %>


            <!-- RECURSIVE METHOD (TREE STRUCTURE) -->
            <%  def draw_tree(parent_folder) %>
               <% parent_folder.job_offer_folders.each do |folder| %>
                  <%= folder_html(folder) %>
                  <% if folder.job_offer_folders.any? %>
                    <% draw_tree(folder) %>
                  <% end %>
                  <% if folder.job_offers.any? %>
                    <% folder.job_offers.each do |offer| %>
                      <%= offer_html(offer) %>
                    <% end %>
                  <% end %>
               <% end %>
            <%  end %>


            <%  def folder_html(folder) %>
                  <tr class="border <%= folder.parent ? "" : "parent-folder-row" %>">
                    <td class="column-0"><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star hidden" aria-hidden="true"></i></td>
                    <td class="column-1 text-left bold <%= 'folder-indentation-' + tree_level(folder).to_s %>">
                      <%= link_to root_path do %>
                        <span><i class="fa fa-folder-open hidden" aria-hidden="true"></i><i class="fa fa-folder" aria-hidden="true"></i><%= " " + folder.name %></span>
                      <% end %>
                    </td>
                    <td class="column-2">
                      <%= 3.to_s %>
                    </td>
                    <td class="column-3"><%= 3.to_s %></td>
                    <td class="column-4"><%= 4.to_s %></td>
                    <td class="column-5"><%= 4.to_s %></td>
                  </tr>
            <%  end %>


            <%  def offer_html(offer) %>
                  <tr class="border">
                    <td class="column-0"><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star hidden" aria-hidden="true"></i></td>
                    <td class="column-1 text-left <%= 'folder-indentation-' + tree_level(offer).to_s %>">
                      <%= link_to root_path do %>
                        <%= image_tag "noun_job.png", width: '25' %>
                        <span><%= offer.title %></span>
                      <% end %>
                    </td>
                    <td class="column-2">
                      <% days_ago = ((Time.now - offer.created_at) / (24 * 60 * 60)).to_i %>
                      <% if I18n.l(offer.created_at, format: "%A") == I18n.l(Date.today, format: "%A")  %>
                        <% days_ago = "Today"%>
                      <% else %>
                        <% if days_ago <= 1 %>
                          <% days_ago = "1 day ago" %>
                        <% else %>
                        <% days_ago = "#{((Time.now - offer.created_at) / (24 * 60 * 60)).to_i} days ago" %>
                        <% end %>
                      <% end %>
                      <% months_array = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]%>
                      <% creation_date = "(" + (offer.created_at.day > 9 ? "" : "0") + offer.created_at.day.to_s + "-" + months_array[offer.created_at.month - 1] + ")" %>





                      <%= days_ago + " " + creation_date %>

                    </td>
                    <td class="column-3"><%= 3.to_s %></td>
                    <td class="column-4"><%= 4.to_s %></td>
                    <td class="column-5"><%= 4.to_s %></td>
                  </tr>
            <%  end %>


            <!-- draw tree -->
            <% @parent_folders.each do |folder| %>
              <%= folder_html(folder) %> SHOW YOURSELF
              <% if folder.job_offers.any? %>
                <% folder.job_offers.each do |offer| %>
                  <%= offer_html(offer) %> SHOW YOUR OFFERS
                <% end %>
              <% end %>
              <% draw_tree(folder) %>
            <% end %>


          </tbody>
        <% else %> <!-- if table is empty don't iterate -->
        <% end %>  <!-- end of if function -->
      </table>
    </div>
  </div>
  <br>
  <br>
  <!-- Button: Create Offer -->
  <button type="button" class="btn-form-2" data-toggle="modal" data-target="#CreateJobOfferModal">create an offer</button>
  <br>
  <br>
  <!-- Button: Add Folder -->
  <button type="button" class="btn-form-2" data-toggle="modal" data-target="#AddFolderModal">add a folder</button>

</div>

<!-- SCRIPTS -->

<!-- Modal: Create Offer -->
<div class="modal fade" id="CreateJobOfferModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create an offer</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for([ @job_offer ]) do |form| %>
          <%= form.input :title %>
          <%= form.input :description, input_html: { id: 'job_offer_description_field' } %>
          <%= form.input :location %>
          <%= form.input :min_xp %>
          <%= form.input :max_xp %>
          <%= form.input :salary %>
          <%= form.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal: Create Offer -->
<div class="modal fade" id="AddFolderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create an offer</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for([ @job_offer_folder ]) do |form| %>
          <%= form.input :name %>
          <%= form.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>

