<div id="job_offers_index_wrapper">
  <div class="row">
    <div class="tableau-offer">
      <% if @job_offers.any? == true %>
        <table class="vw">
          <thead class="head-fixed text-center">
            <div class="navbar-higher-brand-recruiter2">
              <%= image_tag "LOreal_black_vector.png" %>
            </div>
            <tr class="flex height-45px">
              <th class="column-1 text-center"></th>
              <th class="column-2 text-center">Offers</th>
              <th class="column-3 text-center">Candidates</th>
              <th class="column-4 text-center">Contacted</th>
            </tr>
          </  >
          <tbody class="offers-body">
            <% @job_offers.each do |job_offer| %>
              <tr class= "border">
                <td class="column-1">
                  <%= link_to job_offer_job_applications_path(job_offer) do %>
                    <%= image_tag "noun_job.png", :width => '25' %>
                    <span class="noun_job"><%= job_offer.title %></span>
                 <% end %>
                </td>
                <td class="column-2">
                <% date = ((Time.now - job_offer.created_at) / (24 * 60 * 60)).to_i %>
                  <% if I18n.l(job_offer.created_at, format: "%A") == I18n.l(Date.today, format: "%A")  %>
                    <% date = "Today"%>
                  <% else %>
                    <% if date <= 1 %>
                      <% date = "1 day ago" %>
                    <% else %>
                    <% date = "#{((Time.now - job_offer.created_at) / (24 * 60 * 60)).to_i} day ago" %>
                    <% end %>
                  <% end %>
                  <%= date %>
                  <div>(<%= job_offer.created_at.strftime('%x') %>)</div>
                </td>
                <td class="column-3"><%= job_offer.job_applications.where(submit: true, rejected: nil).count %></td>
                <td class="column-4"><%= job_offer.job_applications.where(contact: true, rejected: nil).count %></td>
            <%end%>
              </tr>
          </tbody>
        </table>
      <% else %>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <button type="button" class="btn-form-2" data-toggle="modal" data-target="#TableModal">
    create an offer
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="TableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Créez votre offre</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for([ @job_offer ]) do |form| %>
          <%= form.input :title %>
          <%= form.input :description, input_html: { id: 'job_offer_description_field' } %>
          <%= form.input :location %>
          <%= form.input :min_xp %>
          <%= form.input :max_xp %>
          <%= form.input :salary %>
          <%= form.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
