<!-- NAVBAR FOR VISITORS -->
<div class="navbar-higher"></div> <!-- spacer to compensate the 'fixed navbar offset' -->
<div class="navbar-higher navbar-higher-fixed blue-bottom-border">

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-higher-brand" do %>
    <%= image_tag "name-logo-small.png" %>
  <%end %>


  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Search form -->
    <form action="" class="navbar-higher-search">
      <input type="text" class="navbar-higher-search-input" style="line-height: 30px;">
      <button type="submit" class="navbar-higher-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <!-- Jobs links & about -->
    <div>
      <%= link_to "connect as recruiter", job_offers_path, class: "btn btn-primary", id: "btn-recruiter" %>
      <%= link_to "connect as candidate", new_candidate_session_path, class: "btn btn-primary", id: "btn-candidate" %>
    </div>

  </div>

<!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to ("connect as recruiter"), job_offers_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <li>
          <%= link_to ("connect as candidate"), new_candidate_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
      </ul>
    </div>
  </div>
</div> <!-- end of navbar -->



