<!-- NAVBAR FOR RECRUITERS -->
<div class="navbar-higher"></div> <!-- spacer to compensate the 'fixed navbar offset' -->
<div class="navbar-higher navbar-higher-fixed">

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-higher-brand" do %>
    <%= image_tag "name-logo-small.png" %>
  <%end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
    <form action="" class="navbar-higher-search">
      <input type="text" class="navbar-higher-search-input" style="line-height: 30px;">
      <button type="submit" class="navbar-higher-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <!-- spacer: empty flex-box -->
    <div class="blank-10-percent"></div>

    <!-- navigation links -->
    <div class="navbar-higher-links text-center">
      <%= link_to "jobs", job_offers_path, class: "navbar-higher-link" %>
      <%= link_to "stats", root_path, class: "navbar-higher-link" %>
    </div>


    <!-- space:empty flex-box -->
    <div class="blank-5-percent"></div>

    <!-- notification icons -->
    <div class="navbar-higher-notifications">
      <% if current_user.job_applications.any? %>
        <%= link_to conversation_job_application_path(current_user.job_applications.first), id: "navbar-higher-notification", class: "navbar-higher-link" do %>
          <div class="badge-container inline">
            <i class="fa fa-comments" aria-hidden="true"></i>
            <div class="badge badge-blue">3</div>
          </div>
        <% end %>
      <% end %>

      <%= link_to "#", id: "navbar-higher-notification", class: "navbar-higher-link" do %>
        <div class="badge-container inline">
          <i class="glyphicon glyphicon-flag"></i>
        </div>
      <% end %>
      <%= link_to "#", id: "navbar-higher-notification", class: "navbar-higher-link" do %>
        <div class="badge-container inline">
          <i class="glyphicon glyphicon-user"></i>
        </div>
      <% end %>
    </div>

    <!-- space:empty flex-box -->
    <div class="blank-5-percent"></div>

    <!-- dropdown -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <i class="fa fa-caret-down font-25 navbar-higher-menu" data-toggle="dropdown" aria-hidden="true"></i>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_candidate_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div> <!-- end of dropdown -->
  </div>
</div> <!-- end of navbar for recruiters -->
